# https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_XUIpXpyaGuuw0Dc9Ng80xFWs
STRIPE_SECRET_KEY=sk_test_9W1R4v0cz6AtC9PVwHFzywti
# Set this environment variable to support webhooks — https://stripe.com/docs/webhooks/signatures
# STRIPE_WEBHOOK_SECRET=whsec_12345